@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --bg: black;
    --textColor: white;
    --textColorSec: #818181;
    --select: #3A3B3C;
    --navBg: rgb(13, 13, 13);
    --navText: white;
    --linkColor: #007AFF;
}

.light-mode {
    --bg: white;
    --textColor: black;
    --textColorSec: #6C6D70;
    --select: #818181;
    --navBg: #ECECEC;
    --navText: black;
    --linkColor: #007AFF; 
}

/**********RESET AND REUSED**********/
body {
    margin: 0; 
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--bg);
    color: var(--textColor);
    font-weight: 400; 
}

h1 {
    font-size: 37px;
    font-weight: 800;
}

h2 {
    font-size: 25px;
    align-items: left;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 700;
}

h4 {
    font-size: 15px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--linkColor);
}

p {
    color: var(--textColorSec);
    font-size: 18px;
    align-items: left;
}

li {
    list-style-type: none;
    line-height: 2;
}

button {
    background: none;
    border: none;
    text-align: left;
}

input, textarea {
    display: block;
    width: 100%;
    background: none;
}

/**********NAVBAR**********/
nav {
    background-color: var(--navBg);
    width: 100%;
    height: 60px;
    position: fixed;      
    display: inline-flex;           
    align-items: center; 
    justify-content: center;
    top: 0;
    box-sizing: border-box;
}

nav li {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
}

nav a {
    color: var(--navText);
    padding: 10px;
    display: inline-block;
    align-items: center;
    font-weight: 500;
}

#active {
    color: var(--linkColor);
}

nav a:hover, a:focus {
    color: var(--textColorSec);
}

#icon {
    width: 20px;
    padding: 10px;
}

/**********MAIN**********/
main {
    padding: 10px 20px; /*vertical | horizontal*/
}

/**********CARD**********/
.card {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px 20px; /*vertical | horizontal*/
    border-radius: 20px;
    background-color: var(--navBg);
    margin-top: 60px;
}

/**********FOOTER**********/
footer p {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

/**********.links**********/
.links li {
    line-height: 2;
    font-size: 18px;
    align-items: left;
    font-weight: 400; 
}

.about p, .glossary p {
    line-height: 1.5;
}

.glossary h2 {
    font-size: 23px;
}

.subtitle {
    font-size: 22px;
}
