html {
    background-color: black;
}

body {
    /*add space so the text text won't touch the edges*/
    margin: 0; 
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: white; 
}

h1 {
    font-size: 50px;
    text-decoration: none;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

p {
    color: #9B9B9B;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #0073E5;
}

li {
    list-style-type: none;
}

nav {
    height: 100%;
    width: 120px;
    position: fixed;
    padding: 20px;
    background-color: rgb(13, 13, 13);
}

nav a {
    font-size: 25px;
    line-height: 1.5;
    color: white;
}

#active {
    color: #0073E5;
}
nav a:hover, a:focus {
    color: #9B9B9B;
}

main {
    margin: 0;
    margin-left: 160px;
    padding: 10px 20px; /*vertical | horizontal*/
}

.links li {
    /* margin-top: 20px; */
    line-height: 2;
    font-size: 18px;
}
