@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;1,600&display=swap');

:root {
    --bg: black;
    --textColor: white;
    --textColorSec: #818181;
    --select: #3A3B3C;
    --navBg: rgb(13, 13, 13);
    --navText: #818181;
}

.light-mode {
    --bg: white;
    --textColor: black;
    --textColorSec: #6C6D70;
    --select: #818181;
    --navBg: #ECECEC;
    --navText: #6C6D70; 
}

body {
    margin: 0; 
    font-family: 'Inter', sans-serif;
    background-color: var(--bg);
    color: var(--textColor); 
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

p {
    color: var(--textColorSec);
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #0073E5;
}

li {
    list-style-type: none;
}

nav {
    background-color: var(--navBg);
    width: 100%;
    height: 60px;      
    padding: 0 5px;
    display: flex;           
    flex-direction: row;         
    align-items: center; 
}

nav a {
    font-size: 20px;
    color: var(--textColor);
    padding: 20px;
    display: inline-block; 
}

#active {
    color: #0073E5;
}

nav a:hover, a:focus {
color: var(--textColorSec);}

#icon {
    width: 30px;
    margin: 15px;
}

main {
    margin: 10px;
    padding: 10px 20px; /*vertical | horizontal*/
}

.links li {
    line-height: 2;
    font-size: 18px;
}
